@charset "utf-8";
@import url(font.css);
@import url(simple-line-icons.css);
@import url(font-awesome.min.css);

/*
* @Description : 우선적으로 적용되어야 할 스타일이나 예외적인 스타일 적용 시 사용되는 css
* @author      : KIMDONGUK
* @since       : 2019. 04. 17
*/

/* genexon.alert창 제일 상단으로 */
.k-window {
	z-index: 10001 !important;
}

/* ajax-loader 이미지 경로 */
.k-loading-image {
	background-image:url("/resources/kendoui/styles/Default/loading-image.gif") !important;
}

/* 필수값 tooltip */
span > div.k-widget.k-tooltip.k-tooltip-validation.k-invalid-msg {
	position: fixed !important;
}