@charset "utf-8";

body{color: black;}
.print_hidden_obj{display: none}
@page { margin: 5px 30px; }
a { text-decoration: none !important; color: black !important; font-size: medium;}

table.new_input th{font-size:12px; font-weight:normal; padding:5px 1px; text-align:left;}
table.new_input td{font-size:12px; text-align:right; padding:5px 1px;}

div.m_right05{margin-right: 40px;}
.w03{width: 330px;}
.font_bold{font-weight: normal;}
	
table.result01 th {
	font-weight: normal !important;
	border-bottom: 1px solid #999;
}

table.result01 td {
}

table.new_input th{
	font-size: medium;
}
table.new_input td{
	font-size: medium;
}

table.result03 th{
	font-size: medium;
	border-bottom: 1px solid #999;
	padding-left: 0;
	padding-right: 0;
}

table.result03 td{
	font-size: medium;
	padding-left: 0;
	padding-right: 0;
}

table.result04 th{
	font-size: medium;
	border-bottom: 1px solid #999;
	font-weight: normal !important;
	padding-left: 0;
	padding-right: 0;
}

table.result04 td{
	font-size: medium;
	border-bottom: 1px solid #999;
	padding-left: 0;
	padding-right: 0;
}

h2{color: #999;}
div.result_money{margin-top: 15px;}
